.context-menu {
    position: absolute;
    text-align: center;
    background: white;
    border: 1px solid black;
    left: 0px;
    top: 0px;
}

.context-menu ul {
    padding: 0px;
    margin: 0px;
    min-width: 150px;

}

.context-menu ul li {
    padding-bottom: 7px;
    padding-top: 7px;
    border: 1px solid black;
}

.context-menu ul li a {
    text-decoration: none;
    color: black;
}

.context-menu ul li:hover {
    background: darkgray;
}

  .calendarcontainer {
    
    width: 180px;
    font: monospace;
    line-height: 1.2em;
    font-size: 15px;
    text-align: center;
    
    background-color:  #f7f7f7;
    color: #373737;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .calendar {

    height: 230px;
    background-color:  #f7f7f7;
    box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
  }
  
  .month {

    height: 30px;
    background-color: #448196;
    color: #f7f7f7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    text-align: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  }
  
  .month i {
    font-size: 10px;
    cursor: pointer;
  }
  
  .month h1 {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 0px;
  }
  
  .month p {
    font-size: 10px;
  }
  
  .weekdays {
    width: 100%;
    height: 20px;
    padding: 0 0.4rem;
    display: flex;
    align-items: center;
  }
  
  .weekdays div {
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 0.1rem;
    width: calc(160px / 7);
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  }
  
  .days {
    width: 100%;
    height: 20px;
    display: flex;
    flex-wrap: wrap;
    padding: 0.2rem;
  }
  
  .days div {
    font-size: 10px;
    margin: 0.3rem;
    width: calc(100px / 7);
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
    transition: background-color 0.2s;
  }
  
  .days div:hover:not(.today) {
    background-color:  #f7f7f7;
    border: 0.2rem solid #777;
    cursor: pointer;
  }
  
  .prev-date,
  .next-date {
    opacity: 0.5;
  }
  
  .today {
    background-color: #448196;
    color: #f7f7f7;
    cursor: pointer;
  }